<html lang="en">
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
     <div class="main-content">
           {{>header}}
 {{!-- <img class="portrait" src="https://avatars.githubusercontent.com/u/82364888?s=400&u=def281ecfe035ac46419ca3763df3689a7781e9b&v=4" alt="me"/> --}}
    </div>

        {{>footer}}
  </body>
</html>